/* Styles for the default state of the button */
.ant-menu-item-active::after {
    color: aqua !important;
}
.ant-menu-title-content a:hover{
    color: #ff6827 !important;
}

.ant-btn {
    border-color: #ff6827;
    background-color: #ff6827;
    cursor: pointer;
}
  
/* Styles for the button on hover ant-btn-primary */
.ant-btn:hover {
    color: black  !important;
    background-color: white !important;
    border-color: #ff6827 !important;
}
  
/* Styles for the button icon on hover */
.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.ant-btn:active .anticon {
    color: black !important; /* Change icon color to black on hover, focus, and active */
}

/* Styles for the input border on hover */
.ant-input:hover,
.ant-input:focus {
    box-shadow: none !important;
    border-color: #ff6827 !important;
}
  
.ant-pagination-item:hover,
.ant-pagination-next:hover,
.ant-pagination-previous:hover {
    background-color: #ffd8c7 !important;
}
.ant-pagination-item-active {
    border-color: #ff6827 !important;
}
.ant-pagination-item-active a {
    color: black !important; /* Change text color of active pagination item to black */
}
.ant-pagination-item-ellipsis {
    color: #ffd8c7 !important; /* Change color of ellipsis to match background */
}
.ant-pagination-item-link-icon {
    color: #ff6827 !important; /* Change color of pagination icon */
}
