/* ImageLoader.css */
/* Define the fade-in and fade-out animation */
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Define the fade-in and fade-out animation with a delay */
  @keyframes fadeInOutDelayed {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* Merged styles for regular and outlined input fields */
  .ant-input-outlined,
  .ant-input-outlined:focus,
  .ant-input-outlined-focused, 
  .ant-input-outlined-active,
  .ant-input-outlined:active,
  .ant-picker-outlined,
  .ant-picker-outlined:focus,
  .ant-picker-outlined-focused, 
  .ant-picker-outlined-active,
  .ant-picker-outlined:active,
  .ant-select-outlined,
  .ant-select-outlined:focus,
  .ant-select-focused,
  .ant-select-outlined-focused, 
  .ant-select-outlined-active,
  .ant-select-active,
  .ant-select-outlined:active,
  .ant-select-selector  {
    height: 45px !important;
    border: 1px solid transparent !important;
    background-color: white !important;
    border-radius: var(--border-radius) !important;
    color: var(--primary-color) !important;
    outline: none !important; /* Remove default blue outline */
    box-shadow: none !important;
  }
  
  /* Hover state for both regular and outlined inputs and form item controls */
  .ant-input:hover,
  .ant-input-outlined:hover,
  .ant-select:hover,
  .ant-select-outlined:hover {
    cursor: pointer !important;
  }
  .ant-pagination-item{
    border: 1px solid var(--background-color) !important;
    background-color: var(--alt-background-color) !important;
    border-radius: var(--border-radius)  !important;
    color: var(--background-color) !important;
    outline: none !important; /* Remove default blue outline */
    box-shadow: none !important;
  }
  
  .ant-pagination-next:hover,
  .ant-pagination-previous:hover,
  .ant-pagination-item-link:hover {
    border-radius: var(--border-radius) !important;
  }
  
  .ant-pagination-item-ellipsis {
    color: var(--background-color) !important; /* Change color of ellipsis to match background */
  }
  .ant-pagination-item-active{
    background-color: var(--primary-color) !important;
  }
  .ant-pagination-item a{
    color: var(--background-color) !important;
  }
  
  .ant-form-item-control-input-content {
    display: flex;
    flex-direction: column; /* Or 'row' depending on your layout */
    align-items: flex-start; /* Align children to the start */
  }
  /* Style for checked radio button */
  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
    width: 16px !important;
    height: 16px !important;
  }
  
  /* Hover effect on checked radio button */
  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:hover {
    border: 1px solid var(--secondary-color) !important;
  }
  
  /* Unchecked radio button state */
  .ant-radio-inner {
    border: 1px solid var(--alt-background-color) !important;
    width: 16px !important;
    height: 16px !important;
  }
  
  /* Hover effect on unchecked radio button */
  .ant-radio:hover .ant-radio-inner {
    border-color: var(--secondary-color) !important;
  }
  
  /* Focus state of radio button (both checked and unchecked) */
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 2px rgba(var(--secondary-color), 0.2) !important; /* Adding slight shadow for focus state */
  }
  .ant-checkbox-wrapper{
    color: var(--primary-color) !important;
    align-self: flex-start !important; /* Align checkbox to the left inside flex container */
  }
  
  /* Style for checked checkbox */
  .ant-checkbox-checked .ant-checkbox-inner {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--background-color) !important;
    border-radius: var(--border-radius)  !important;
    width: 16px !important;
    height: 16px !important;
  }
  
  /* Hover effect on checked checkbox */
  .ant-checkbox-checked .ant-checkbox-inner:hover {
    border: 1px solid var(--background-color) !important;
  }
  
  /* Unchecked checkbox state */
  .ant-checkbox-inner {
    border: 1px solid var(--alt-background-color) !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: var(--border-radius)  !important;
  }
  
  /* Hover effect on unchecked checkbox */
  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: var(--secondary-color) !important;
  }
  
  /* Focus state of checkbox (both checked and unchecked) */
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    box-shadow: 0 0 0 2px rgba(var(--secondary-color), 0.2) !important; /* Slight shadow for focus state */
  }
  
  /* Indeterminate state of checkbox */
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
  }
  
  /* Indeterminate hover effect */
  .ant-checkbox-indeterminate:hover .ant-checkbox-inner {
    border-color: var(--secondary-color) !important;
  }
  
  .ant-btn{
    background-color: var(--primary-button-background-color) !important;
    border-color: var(--primary-button-background-color) !important;
    color: white !important;
    height: 45px !important;
    border-radius: var(--btn-radius) !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    padding: 16px, 32px;
  }
  
  .ant-form-item-label,
  .ant-form-item-label .ant-form-item-required {
    color: var(--primary-color) !important;
  }
  .ant-modal-content{
    border-radius: var(--border-radius) !important;
  }
  
  .ant-timeline-item-head{
    border-color: var(--secondary-color) !important;
  }
  
  .number,
  .number:focus,
  .number:active,
  .ant-picker-outlined,
  .ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-select-selector {
    border: 1px solid var(--primary-color) !important;
    background-color: var(--white) !important;
    color: var(--background-color) !important;
  }
  .ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 1px solid transparent !important;
  }
  .ant-picker-cell-today .ant-picker-cell-inner {
    border: 1px solid var(--background-color) !important;
    background-color: var(--primary-color) !important;
    color: white !important;
  }
  .ant-picker-now .ant-picker-now-btn {
    color: var(--background-color) !important;
  }
  .body-container{
    background-color: var(--alt-background-color);
    padding: 0px;
    margin: 0px;
    margin-bottom: 90px;
  }
  /* footer.css */
/*   
  footer{
    background: var(--background-color);
    color: var(--white);
  } */
  
  .footer-listitem{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-self: left;
  }
  .footer-listitem:hover{
    color: var(--primary-text-color);
  }
  .footer-listitem:active{
    color: var(--primary-text-color);
  }
  
  .store-list-item {
    padding: 8px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .store-list-item a{
    text-decoration: none;
    color: var(--white);
    padding: 16px;
    font-weight: bold;
    width: '100%';
    border:1px solid var(--white);
    border-radius: var(--border-radius);
  }
  .store-list-item a:hover{
    border-color: var(--primary-text-color);
  }
  .store-list-item a img{
    margin-bottom: 8px;
    margin-right: 4px;
    width:40px;
  }
  .bottom{
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: 8px;
  }

  a {
    text-decoration: none;
    outline: none;
  }

  
  